<template>
  <main class="container content">

    <div class="columns">

      <div class="column">
         <h2>Your account</h2>

         <p v-if="user.emailStatus === 'verified'">Your email address is: <span class="email-status--verified">VERIFIED</span></p>

         <p v-if="user.emailStatus === 'unverified'">Your email address is <span class="email-status--unverified">NOT VERIFIED</span>. Check your inbox and follow the link. You can <a href="#">send another</a> [5] more times (*cough* bollocks, haven't implemented this yet). If you aren't getting the mail, it's either in your junk folder or our mail provider has added you to its blocklist. This can happen for a bunch of reasons, but especially if your mailbox rejects several messages (like when it's full), you report any of our emails as spam, or you clicked the "unsubscribe permanently" link in a notification.</p>
         <p v-if="user.emailStatus === 'blocked'">Your email address is: <span class="email-status--blocked">BLOCKLISTED</span>. This can happen for a bunch of reasons, but especially if your mailbox is full for several messages, you report any of our emails as spam, or you clicked the "unsubscribe permanently" link in a notification.</p>

         <form action="#" method="get" accept-charset="utf-8" @submit.prevent="dumpUser">
             <p class="control">
                 <label for="email_address">Email address</label>
                 <input class="input" type="text" name="email_address" v-model="user.email" id="email_address"><br>
                 <span class="note">Note: if you change your address, you won't receive any notifications until you've verified it.</span>
             </p>


            <p class="control">
              <label for="name">Name</label>
              <input class="input" type="text" name="name" value="Anon." id="name" v-model="user.displayName"><br>
              <span class="note">This is what we'll call you in emails.</span>
            </p>

            <div class="columns">
              <div class="column">
                <p class="control">
                  <label for="password">New password</label><input class="input" type="password" name="newPassword1" value="" id="password"></p>
              </div>
              <div class="column">
                <p class="control">
                  <label for="password">… and again</label><input class="input" type="password" name="newPassword2" value="" id="password"></p>
              </div>
            </div>
            <div class="note">Leave it blank unless you want to change your password</div>

             <p class="control"><input class="button is-primary" type="submit" value="Update &rarr;"></p>
        </form>

        <h2>Delete account</h2>
        <p><input class="button is-danger" type="submit" value="Yes I'm sure, delete delete!"></p>
      </div>

    </div>

  </main>
</template>

<style>
.note {
    font-size: small;
    color: #999;
}
.email-status--verified { color: green; }
.email-status--unverified { color: orange; }
.email-status--blocked { color: red; }
.keywords label {
  display: block;
}
.keywords {
  column-width: 12em;
}
</style>

<script>
export default {
  data () {
    return {
      user: {
        email: 'bob@example.com',
        emailStatus: 'verified',
        isArtist: false,
        subscriberCount: 1420,
        displayName: 'Anon.'
      },
      newNote: {
        flags: [],
        url: ''
      },
      subscriptions: [
        { id: '9g0g03n030n', name: 'PurpleChinchilla' },
        { id: 'n030n30g0g9', name: 'LonelyGoat' },
        { id: 'g4g3g3g3', name: 'SomeDude' }
      ]
    }
  },
  methods: {
    dumpUser () {
      // Probably want to actually save this instead or something
      console.log(this.user)
    }
  }
}
</script>
