<template>
  <div class="message is-info">
    <div class="message-header">
      Hello!
    </div>
    <div class="message-body">
      This is a web site prototype, not a real thing. Which means it doesn't actually do anything. On the plus side, you can't break it, so click around and tell me what you think!
    </div>
  </div>

  <header class="header">
    <div class="container">

      <div class="header-left">
        <a class="header-item title" v-link="{ name: 'home' }">Hey I'm Open</a>
      </div>

      <!-- Hamburger menu (on mobile) -->
      <span class="header-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="header-right header-menu">
        <span class="header-item">
          <a v-link="{ name: 'login' }">Log in</a>
        </span>
        <span class="header-item">
          <a class="button is-primary" v-link="{ name: 'signup' }">Sign up</a>
        </span>
      </div>
    </div>
  </header>

  <section class="section">
    <router-view></router-view>
  </section>
</template>

<style lang="sass">
@import '../../node_modules/bulma/bulma.sass';


</style>

<script>
</script>
