<template>
  <main class="container content">
    <h2>Verify your email address</h2>

    <p>Not hooked up to API or anything so like… click the button</p>
    <a v-link="{ name: 'account' }">I totally just did that →</a>
  </main>
</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {}
}
</script>
