<template>
  <main class="container">

    <h1 class="title">Some site that has an API</h1>

    <p><a v-link="{ name: 'signup' }">Sign up</a>, maybe?</p>

  </main>
</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {}
}
</script>