<template>
  <main class="container">

    <h2 class="title">Log in</h2>

    <div class="columns">
      <div class="column">
        <form action="/account" method="post" accept-charset="utf-8" @submit.prevent="authenticate">
          <p class="control">
            <label for="email_address">Email address</label>
            <input class="input" type="text" name="email_address" value="bob@example.com" id="email_address">
          </p>

          <p class="control">
            <label for="password">Password</label>
            <input class="input" type="password" name="password" value="••••••••" id="password">
          </p>

          <p class="control">
            <input class="button is-primary" type="submit" value="Log in">
            <a v-link="{ name: 'password-reset' }">Forgot your password?</a>
          </p>
        </form>
      </div>
      <div class="column content">
        <p>
            <a v-link="{ name: 'signup' }">Don't have an account? Sign up!</a>
        </p>
      </div>
    </div>

  </main>
</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {
    authenticate () {
      this.$router.go({ name: 'account' })
    }
  }
}
</script>