<template>
    <p>
        <a v-link="{ name: 'home' }">Home</a>
        |
        <a v-link="{ name: 'login' }">Remember your password? Log in!</a>
    </p>

    <h2>Request a new password</h2>
    <p>Enter your email address, and we'll send you a link to reset your password.</p>
    <form action="#" method="post" accept-charset="utf-8">
        <p><label for="email_address">Email address</label><input type="text" name="email_address" value="" id="email_address"></p>

        <p><input type="submit" value="Continue &rarr;"></p>
   </form>
</template>
