<template>
  <main class="container">

    <h2 class="title">Sign up</h2>

    <div class="columns">
      <div class="column">
        <form action="/verify" method="post" accept-charset="utf-8" @submit.prevent="signup">
          <p class="control">
            <label for="name">Name</label>
            <input class="input" type="text" name="name" value="Anon." id="name"><br>
              This is what we'll call you in emails. It doesn't have to be your real name, it's not like we can check.
          </p>

          <p class="control">
            <label for="email_address">Email address</label>
            <input class="input" type="text" name="email_address" value="bob@example.com" id="email_address">
          </p>

          <p class="control">
            <label for="password">Password</label>
            <input class="input" type="password" name="password1" value="••••••••" id="password1">
            <label for="password">Confirm password</label>
            <input class="input" type="password" name="password2" value="••••••••" id="password2">
          </p>

          <p class="control">
            <input class="button is-primary" type="submit" value="Sign up">
            <a v-link="{ name: 'login' }">Already have an account? Log in!</a>
          </p>
        </form>
      </div>
      <div class="column content">
        <p>
            Please make sure you've read and agree to the terms and conditions before going any further. Signing up tells us you agree to these terms.
        </p>
        <p>You can delete your account at any time.</p>
      </div>
    </div>

  </main>
</template>

    <h2></h2>
   <form action="/verify" method="get" accept-charset="utf-8">
       <p><label for="email_address">Email address</label><input type="text" name="email_address" value="" id="email_address"></p>

       <p><label for="name">Name</label><input type="text" name="name" value="Anon." id="name"><br>
           This is what we'll call you in emails.
       </p>

       <p><label for="password">Password</label><input type="password" name="password" value="" id="password"></p>
       <p><label for="password">… and again</label><input type="password" name="password" value="" id="password"></p>

       <p><input type="submit" value="Continue &rarr;"></p>
   </form>

</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {
    signup () {
      this.$router.go({ name: 'verify' })
    }
  }
}
</script>