<html>
<body>
    <p>Hi {{ account.displayName }},</p>
    <p>To verify your request for a new password for “site”, follow this link:</p>

    <p><a href="{{ url }}">{{ url }}</a></p>

    <p>If you didn't request a new password, just ignore this mail.</p>
</body>
</html>