<html>
<body>
    <p>Hi {{ account.displayName }},</p>
    <p>You (we hope) just added this email address to “site”. If so, follow this link:</p>

        <p><a href="{{ url }}">{{ url }}</a></p>

    <p>If you have no idea what I'm talking about, then sorry! Just ignore this mail and we won't send you any more (unless someone's being a jackass and clicks the “resend” link).</p>

    <p>If you're getting a lot of these and you want nothing to do with us, then you can unsubscribe from <strong>all</strong> future mails by going here:</p>

        <p><a href="%unsubscribe_url%">Block my email address forever</a></p>

    <p>If you do this, we'll blacklist your address so you'll <strong>never</strong> get another mail from us. Obviously this means you won't be able to sign up in the future, but that's probably fine, right?</p>
</body>
</html>