Hi {{ account.displayName }},

You (I hope) just added this email address to “site” (https://site). If so, follow this link:

    {{ url }}

If you have no idea what I'm talking about, then sorry! Just ignore this mail and we won't send you any more (unless someone's being a jackass and clicks the “resend” link).

If you're getting a lot of these and you want nothing to do with us, then you can unsubscribe from *all* future mails by going here:

    %unsubscribe_url%

If you do this, we'll blacklist your address so you'll *never* get another mail from us. Obviously this means you won't be able to sign up in the future, but that's probably fine, right?
